li {
	list-style-type: none;
}

.list-users {
	padding-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	@media (max-width: 767px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 480px) {
		grid-template-columns: repeat(1, 1fr);
	}
	gap: 20px;
	&__item {
		width: 100%;
		padding: 20px;
		border-radius: 20px;
		border: 1px solid #fff;
		text-decoration: none;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background: rgb(0 0 0 / 0.2);
			}
		}
	}

	&__info-item {
		list-style-type: none;
		display: grid;
		grid-template-columns: max-content max-content;
		gap: 20px;
		span {
			font-weight: 900;
		}
	}
}
// 36863
